<!DOCTYPE html>
<html>
    <head>
        <title> Planetary Market </title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       <script>
            $(document).ready(function() {
                $("#clearBtn").on("click", function(){
                    
                    location.href = "/clearCart"; //redirects to admin route
                    
                });//click
            }); //document.ready
       </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Planetary Market</a>
        
            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        
        <h1 class="text-center display-3"><strong><i> Cart </i></strong></h1>


        <!-- search stuff-->
        <div class="container">
            <table class="table">
            <% let totalPrice = 0 
                cart.forEach( function(element){ 
                    totalPrice += element.price%> 
            
                <tr>
                    <td><img class="rounded" src="<%= element.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= element.name %></h2> <br><b>Climate:</b> <%= element.climate %> <br><b>Description:</b> <%= element.description %> <br><b>Size:</b> <%= element.size %> Miles <br><b>Distance from Sun:</b> <%= element.distance %> Miles </td>
                    <td class="align-middle"><h2>$<%= element.price %></h2></td>
               </tr>
                
            <% })  %>
            </table>
        </div>
        
        <br>
        <h2 class="text-center">Total Price: $<%=totalPrice%></h2>
        <br>
        <div class="text-center">
            <button id="clearBtn" class="btn btn-primary">Clear Cart</button><br><br>
        </div>
    </body>
</html>