<!DOCTYPE html>
<html>
    <head>
        <title> Planetary Market </title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
        function insertToCart(name, price){
                
                $.ajax({
                
                      method: "POST",
                         url: "/addToCart",
                    dataType: "JSON",
                        data: { "planetName":name,
                                "planetPrice":price},
                     success: function(result,status) {
                        alert(name + " has been added to your cart!");
                    }
                    
                });//ajax
        
        } //document.ready
        /*
        $(document).ready(function(){
        
                $("a").on("click", function(){
                    //alert("test"); 
                    $.ajax({
                
                        method: "GET",
                        url: "/authorInfo?=",
                        dataType: "json",
                        data: { "authorId": $(this).attr("id")},
                        success: function(result,status) {
                          //alert(result[0].firstName);
                          $("#authorPic").attr("src",`${result[0].portrait}`);
    
                          $("#authorName").html(result[0].firstName + " " + result[0].lastName);
                          $("#dob").html("DOB: " + result[0].dob);
                          $("#dod").html("DOD: " + result[0].dod);
                          $("#sex").html("Sex: " + result[0].sex);
                          $("#profession").html("Profession: " + result[0].profession);
                          $("#country").html("Country: " + result[0].country)
                          $("#bio").html("Bio: " + result[0].biography);
                          
                          $('#authorModal').modal("show");
                          
                        }
                
                    });//ajax
                })
        });*/
    
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Planetary Market</a>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        
         <h1 class="text-center display-3"><strong><i> Planets For Sale: </i></strong></h1>
         
        <div class="container">
            <table class="table">
            <% planets.forEach( function(planet){ %> 
    
                <tr>
                    <td><img class="rounded" src="<%=planet.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= planet.name %></h2> <br><b>Planet Climate:</b> <%= planet.climate %> <br><b>Planet Description:</b> <%= planet.description %> <br><b>Planet Size:</b> <%= planet.size %> Miles <br><b>Distance from Sun:</b> <%= planet.distance %> Miles </td>
                    <td class="align-middle"><h2>$<%= planet.price %></h2></td>
                    
                    <td class="align-middle"><button class="btn btn-primary" onclick="insertToCart('<%=planet.name%>','<%=planet.price%>')">Add To Cart</button></td>
                </tr>

            <% })  %>
            </table>
        </div>
        
        
<!-- Modal -->
<!--<div class="modal fade" id="authorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h1 id="authorName"></h1></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
         <div>
            
            <img id = "authorPic" width = 300px>
            <br>
            <h1 id="authorName"></h1>
            <p id="dob"></p>
            <p id="dod"></p>
            <p id="sex"></p>
            <p id="profession"></p>
            <p id="country"></p>
            <p id="bio"></p>

            <!--dob: info[0].dob%><br>
            dod: <info[0].dod%><br>
            sex: <info[0].sex%><br>
            profession: <info[0].profession%><br>
            country: <info[0].country%><br>
            bio: <info[0].biography%><br>-->
            
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>-->

    </body>
</html>