<!DOCTYPE html>
<html>
    <head>
        <title> Planetary Market </title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
        function insertToCart(name, price){
                
                $.ajax({
                
                      method: "POST",
                         url: "/addToCart",
                    dataType: "JSON",
                        data: { "planetName":name,
                                "planetPrice":price},
                     success: function(result,status) {
                        alert(name + " has been added to your cart!");
                    }
                    
                });//ajax
        
        } //document.ready
        
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Planetary Market</a>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </nav>
        
         <h1 class="text-center display-3"><strong><i> Planets For Sale </i></strong></h1>
         
        <div class="container">
            <table class="table">
            <% planets.forEach( function(planet){ %> 
    
                <tr>
                    <td><img class="rounded" src="<%=planet.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= planet.name %></h2> <br><b>Planet Climate:</b> <%= planet.climate %> <br><b>Planet Description:</b> <%= planet.description %> <br><b>Planet Size (Radius):</b> <%= planet.size %> Miles <br><b>Distance from Sun:</b> <%= planet.distance %> Miles </td>
                    <td class="align-middle"><h2>$<%= planet.price %></h2></td>
                    
                    <td class="align-middle"><button class="btn btn-primary" onclick="insertToCart('<%=planet.name%>','<%=planet.price%>')">Add</button></td>
                </tr>

            <% })  %>
            
            <% non_planets.forEach( function(non_planet){ %> 
    
                <tr>
                    <td><img class="rounded" src="<%=non_planet.image%>" width="200px"/></td>
                    <td class="align-middle"><h2><%= non_planet.name %></h2> <br><b>Orbits:</b> <%= non_planet.orbit %> <br><b>Moon Size (Radius):</b> <%= non_planet.size %> Miles <br></td>
                    <td class="align-middle"><h2>$<%= non_planet.price %></h2></td>
                    
                    <td class="align-middle"><button class="btn btn-primary" onclick="insertToCart('<%=non_planet.name%>','<%=non_planet.price%>')">Add</button></td>
                </tr>

            <% })  %>
            </table>
        </div>

    </body>
</html>