<!DOCTYPE html>
<html>
    <head>
        <title>Update Planet</title></title>
        <link href="/css/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
    </head>
    <body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">Planetary Market</a>

            <div class="collapse navbar-collapse" id="navbarColor02">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Admin</a>
                </li>
              </ul>
            </div>
          </nav>
          
        <h1 class="text-center display-3"><strong><i> Updating Planet </i></strong></h1>
        
        <br>
        <form method="POST">
            <input type="hidden" name="name" value="<%= planetInfo.name %>">
            Name: <%= planetInfo.name %> (Non-changable)<br>    
                        
            Price: <input type="number" name="price" value="<%= planetInfo.price %>"><br>
            Image URL: <input type="text" name="image"  value="<%= planetInfo.image %>"><br>
            Climate: <input type="text" name="climate"  value="<%= planetInfo.climate %>"><br>
            Year Discovered: <input type="text" name="year_discovered"  value="<%= planetInfo.year_discovered %>"><br>
            Size: <input type="number" name="size"  value="<%= planetInfo.size %>"><br>
            Distance: <input type="number" name="distance" value="<%= planetInfo.distance %>"><br>
            <br>
            Description: <br><textarea name="description" cols="50" height="20"><%= planetInfo.description %></textarea>
            
            <br><br>
            <button class="btn btn-primary">Update Planet</button><br>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        <br><br>
    </body>
</html>