<!DOCTYPE html>
<html>
    <head>
        <title> </title>
    </head>
    <body>

        <h1> Updating Planet </h1>
        

        <form method="POST">
        
            Name: <input type="text" name="name"
                        value="<%= planetInfo.planetName %>"><br>    
            <!--Gender: <input type="radio" name="gender" value="F" 
                         <%= authorInfo.sex == 'F'?"checked":"" %>
                        >Female
                    <input type="radio" name="gender" value="M"
                       <%= authorInfo.sex == 'M'?"checked":"" %>
                    >Male -->
                    
            <input type="hidden" name="planetId" value="<%= planetInfo.planetId %>"> 
            
            <!--TODO: Add the remaining fields -->
            <br><br>
            <button>Update Planet</button>
        
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

        
    </body>
</html>